* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

:root {
    --text-color:#eee;
    --p-font: 1.3rem;
}

/* header section */
header {
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

nav {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 50px;
}

.navbar {
    display: flex;
}

.navbar li a {
    color: var(--text-color);
    display: inline-block;
    padding: 14px 24px;
    font-size: 15px;
}

.main-header__content {
    color: var(--text-color);
    margin-top: 25vh;
    text-align: center;
}

.main-header__content h1 {
    font-size: 4rem;
}

.main-header__content h2 {
    font-size: 2rem;
    padding-bottom: 30px;
}

.main-header__content p {
    font-size: 1.3rem;
}

.navbar li a:hover {
    background-color: #444;
}
/* /header section*/

/* main - section */

.main{
    background-color: #252529;
    margin: 0;
    color: #fff;
    line-height: 1.6;
}

.music {
    text-align: center;
    padding-top: 40px;
}

.music h2 {
    font-size: 2.5rem;
    margin-bottom: 18px;
}

.music h3 {
    font-size: 2rem;
    padding-bottom: 24px;
}

.music p {
    font-size: var(--p-font);
    line-height: 34px;
    padding-bottom: 1.3rem;
}

.btn {
    background-color: #b90415;
    padding: 1rem;
    color: #fff;
    display: inline-block;
    margin-bottom: 1.8rem;
}

.btn:hover {
    background-color: #d3071b;
}

.bottom {
    display: block;
    font-size: 18px;
    padding-bottom: 34px;
}

.move {
    margin-top: 50px;
}

.move 
/* main - section */
